.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.home-button-container, .profile-dropdown-container {
  margin: 0 10px;
}

.home-button, .profile-button {
  background-color: #78909C;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 0.9em; 
}

.home-button:hover, .profile-button:hover {
  background-color: #65787C;
  transform: translateY(-2px); 
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
  border-radius: 5px; 
  overflow: hidden; 
  z-index: 1;
  cursor: pointer;
}

.profile-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.profile-dropdown-content a:hover {background-color: #f1f1f1;}

.profile-dropdown-container:hover .profile-dropdown-content {
  display: block;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.invisible-spacer {
  flex-grow: 1;
}

.invisible-spacer:not([class*="invisible-spacer"]) {
  width: 0;
  height: 0;
  visibility: hidden;
}

.home-button i, .profile-button i {
  margin-right: 8px; 
  margin-left: 8px;
}

.home-button, .profile-button {
  background-color: #5E6AB1;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.home-button:hover, .profile-button:hover {
  background-color: #4E589D;
  transform: translateY(-2px);
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.profile-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.profile-dropdown-content a:hover {background-color: #f1f1f1;}

.profile-dropdown-container:hover .profile-dropdown-content {
  display: block;
}