.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  color: #333;
}

.order-box {
  padding: 40px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
}

.order-logo {
  width: 100px;
  margin-bottom: 20px;
}

.stock-details {
  width: 100%;
  text-align: left;
}

.stock-details p {
  margin-top: 25px;
}

.quantity-container {
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 50px;
}

.quantity-label {
  font-weight: bold;
  color: #333;
  flex: 0 0 auto;
  margin-right: 10px;
}

.quantity-input {
  width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  height: 30px;
  width: 30px;
}

.total {
  margin-bottom: 20px;
  font-size: 18px;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 60px;
  font-size: 1em;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: none;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: translateY(1px);
}

.buy-button {
  background-color: #4CAF50;
}

.buy-button:hover, .buy-button:active {
  background-color: #45a049;
}

.sell-button {
  background-color: #F44336;
}

.sell-button:hover, .sell-button:active {
  background-color: #d32f2f;
}