apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.32.0 (HEAD)
  labels:
    io.kompose.service: gateway
  name: gateway
spec:
  type: NodePort
  ports:
    - name: "30000"
      port: 30000
      targetPort: 30000
      nodePort: 30000
  selector:
    io.kompose.service: gateway
